<template>
  <div
    class="mosaic-item"
    :style="{ 'background-color': styleArr[index] }"
  ></div>
</template>
<script>
import { random } from "@/common/Utils";
export default {
  name: "mosaic-item",
  data() {
    return {
      styleArr: [
        "#f0f0f0",
        "#f1f1f1",
        "#f2f2f2",
        "#f3f3f3",
        "#f4f4f4",
        "#f5f5f5",
        "#f6f6f6",
        "#f7f7f7",
        "#f8f8f8",
        "#f9f9f9",
        "#fafafa",
        "#fbfbfb",
        "#fcfcfc",
        "#fdfdfd",
        "#fefefe",
        "#ffffff"
      ],
      index: 0,
      intervalId: 0
    };
  },
  created() {
    this.intervalId = setInterval(this.randomColor, 2000);
  },
  methods: {
    randomColor() {
      this.index = random(this.styleArr.length - 1);
    },
    thisClearInterval() {
      clearInterval(this.intervalId);
    }
  },
  destroyed() {
    this.thisClearInterval();
  }
};
</script>
<style scoped>
.mosaic-item {
  transition: all 2s ease-in-out 0s;
}

.mosaic-item:hover {
  background-color: #f0f0f0 !important;
}
</style>
