<template>
  <div class="mosaic">
    <div v-for="itemRow in row" v-bind:key="itemRow" class="mosaic-row">
      <mosaic-item
        v-for="item in row"
        v-bind:key="itemRow + row + item"
        class="mosaic-item"
        v-on:dblclick.native="dblclick"
      />
    </div>
  </div>
</template>
<script>
import MosaicItem from "@/components/mosaic/MosaicItem";

export default {
  data() {
    return {
      row: 10,
      col: 10
    };
  },
  props: {
    dblclick: {
      type: Function,
      request: true
    }
  },
  name: "mosaic",
  components: { MosaicItem }
};
</script>
<style scoped>
.mosaic > div {
  height: 10vh;
}
.mosaic,
.mosaic div {
  margin: 0;
  padding: 0;
}
.mosaic-item {
  float: left;
  width: 10%;
  height: 10vh;
}
</style>
