<template>
  <div class="index">
    <Mosaic v-bind:dblclick="jumpHome" />
  </div>
</template>
<script>
import Mosaic from "@/components/mosaic/Mosaic";

export default {
  data() {
    return {
      row: 10,
      col: 10
    };
  },
  components: { Mosaic },
  methods: {
    jumpHome() {
      this.$router.push("/home");
    }
  }
};
</script>
<style scoped></style>
