.home-nav {
    border-bottom: 0 !important;
    display: table;
    float: right;
    background-color: inherit !important;
}

.home-nav::after {
    content: "";
    display: inline-block;
    clear: both;
}

.home-nav > li,
.home-nav > li:focus {
    text-align: center;
    background-color: inherit !important;
}

.home {
    transition: background-color .8s ease-in-out 0s;
}

.home-head {

}
.home-main {
    min-height: 60rem;
}
