<template>
  <div class="home-article">
    <el-row :gutter="20">
      <el-col :span="16">
        <el-table
          :data="articleData"
          style="width: 100%"
          :header-cell-style="{ 'text-align': 'center' }"
          :cellStyle="{ 'text-align': 'center' }"
          @row-dblclick="this.selectRow"
        >
          <el-table-column
            v-for="(column, index) in columns"
            v-bind:key="index"
            :prop="column.prop"
            :label="column.label"
          />
        </el-table>
      </el-col>
      <el-col :span="8">
        <el-card class="box-card">
          <div slot="header" class="clearFix">
            <span>卡片名称</span>
            <el-button style="float: right; padding: 3px 0" type="text">
              操作按钮
            </el-button>
          </div>
          <div v-for="o in 4" :key="o" class="text item">
            {{ "列表内容 " + o }}
          </div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import { api } from "@/common/ApiFactory";

export default {
  name: "Record",
  data() {
    return {
      columns: [
        {
          prop: "title",
          label: "TITLE"
        },
        {
          prop: "summary",
          label: "SUMMARY"
        },
        {
          prop: "label",
          label: "LABEL"
        }
      ],
      articleData: [],
      detail: true
    };
  },
  created() {
    api.articleList(response => (this.articleData = response));
    // this.articleData.push({
    //   id: 1,
    //   title: "a",
    //   summary: "a",
    //   label: "a"
    // });
  },
  methods: {
    selectRow(row) {
      this.detail = false;
      this.$router.push({
        name: "home-article-detail",
        params: {
          id: row.id
        }
      });
    }
  }
};
</script>

<style scoped>
.article {
}

.clearFix:before,
.clearFix:after {
  display: table;
  content: "";
}

.clearFix:after {
  clear: both;
}
</style>
