<template>
  <el-row :gutter="20">
    <el-col :span="24">
      <el-card class="box-card">
        <div class="article-detail markdown-body" id="article-detail"></div>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
import { api } from "@/common/ApiFactory";
import showdown from "showdown";
import "github-markdown-css/github-markdown.css";

export default {
  name: "RecordDetail",
  data() {
    return {};
  },
  created() {
    let { id } = this.$route.params;
    api.articleDetail(id, response => {
      console.log(response.text);
      // let article = document.getElementById("article-detail");
      let converter = new showdown.Converter();
      document.getElementById("article-detail").innerHTML = converter.makeHtml(
        response.text
      );
    });
    console.log(showdown);
  },
  methods: {}
};
</script>

<style lang="less" scoped>
.article-detail {
  text-align: initial;
}

.article-detail pre {
  background-color: rgb(179, 197, 215);
}
</style>
