<template>
  <div class="home" :style="{ 'background-color': this.backgroundColor }">
    <el-header class="home-head">
      <!--   el-menu 可增加 【router】属性, 使其自动向 index 跳转, 这里需要做其他操作就不使用了.    -->
      <el-menu
        :default-active="activeIndex"
        mode="horizontal"
        class="home-nav"
        @select="handleSelect"
      >
        <el-menu-item index="/home"><i class="el-icon-house"/></el-menu-item>
        <el-menu-item index="/home/plan">
          <i class="el-icon-location" />
        </el-menu-item>
        <el-menu-item index="/home/show">
          <i class="el-icon-s-opportunity" />
        </el-menu-item>
        <el-menu-item index="/home/article">
          <i class="el-icon-notebook-2" />
        </el-menu-item>
        <el-menu-item
          index="/home/me"
          v-on:dblclick.native="loginVisible = true"
        >
          <i class="el-icon-user" />
        </el-menu-item>
      </el-menu>
    </el-header>
    <el-main class="home-main">
      <router-view />
    </el-main>

    <el-dialog title="裏" :visible.sync="loginVisible" width="450px">
      <el-form
        :inline="true"
        :model="loginForm"
        ref="loginRef"
        :label-position="`left`"
      >
        <el-form-item label="Password" :label-width="'80px'">
          <el-input
            show-password
            v-model="loginForm.password"
            autocomplete="off"
          />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" v-on:click="auth">确 定</el-button>
        </el-form-item>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { colors } from "@/common/Constants";
import { api } from "@/common/ApiFactory";
import "@/assets/css/home/homeBase.css";

const _AUTH = "auth";
export default {
  name: "Home",
  data() {
    return {
      backgroundColor: "",
      activeIndex: "home",
      homeMenu: [],
      loginVisible: false,
      loginForm: {
        password: ""
      }
    };
  },
  components: {},
  created() {
    this.activeIndex = this.$route.path;
    this.selectNav(this.activeIndex);
    // api.login();
  },
  methods: {
    handleSelect(key) {
      this.selectNav(key);
      this.$router.push(key);
    },
    auth() {
      api.login("qiancheng", this.loginForm.password, () => {
        console.log("sad");
        this.$message({ message: "登录成功", type: "success" });
      });
      this.restForm("loginRef");
      this.loginVisible = false;
    },
    restForm(refName) {
      this.$nextTick(() => {
        this.$refs[refName].resetFields();
      });
    },

    isAuthed() {
      // TODO 到后台去验证
      return this.$cookies.isKey(_AUTH);
    },
    selectNav(nav) {
      switch (nav) {
        case "/home":
          this.backgroundColor = colors[0];
          break;
        case "/home/plan":
          this.backgroundColor = colors[1];
          break;
        case "/home/show":
          this.backgroundColor = colors[2];
          break;
        case "/home/record":
          this.backgroundColor = colors[3];
          break;
        case "/home/me":
          this.backgroundColor = colors[4];
          break;
        default:
          this.backgroundColor = colors[4];
          break;
      }
    }
  }
};
</script>
