<template>
  <div class="home-me">
    <h1>About Me</h1>
    <div class="show">
      <ul>
        <li v-for="(it, index) in dataAboutMe" :key="index">{{ it }}</li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "Me",
  created() {},
  methods: {},
  data() {
    return {
      dataAboutMe: []
      // dataAboutMe: ["代码", "电影", "音乐", "快乐", "ALL"]
    };
  }
};
</script>
<style scoped>
.home-me .show {
  max-width: 20rem;
  margin: 0 auto;
}

.home-me h1 {
  font-size: 3rem;
  font-family: Microsoft YaHei, serif;
}

.home-me .show li {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-left: 100px;
}
</style>
