<template>
  <div class="home-plan">
    <el-amap
      ref="map"
      vid="aMap"
      :amap-manager="aMapManager"
      :center="center"
      :zoom="zoom"
      :plugin="plugin"
      :events="events"
      class="aMap-demo"
    >
    </el-amap>
  </div>
</template>
<script>
import VueAMap from "vue-amap";

let aMapManager = new VueAMap.AMapManager();

export default {
  name: "Plan",
  created() {},
  methods: {},
  data() {
    return {
      aMapManager,
      zoom: 6,
      center: [120.385623, 36.070272],
      events: {
        init: o => {
          console.log(o.getCenter());
          console.log(this.$refs.map.$$getInstance());
          o.getCity(result => {
            console.log(result);
          });
        },
        click: e => {
          console.log(e);
        }
      },
      plugin: []
    };
  }
};
</script>
<style scoped>
.home-plan {
  height: 100%;
  width: 100%;
  position: absolute;
}
</style>
